Xamarin/iOS/AccesoSQLiteServicios/AccesoSQLiteServicios/Web References/WcfGeneric/GarvGenericService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.0.124:8020/GarvGenericService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfGeneric" />
  <xs:element name="InsertEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfGeneric" minOccurs="0" name="employee" nillable="true" type="q1:Employee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertEmployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertEmployeeResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>